body {
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1000px;
  background-color: #ffffff;
  margin: auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Name and info about me */
.about-me {
  margin-bottom: 40px;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
}

.my-info {
  padding: 100px 90px;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
  margin-bottom: 17;
}
.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* All information in main block below ".about-me" */

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

/* Project items set */

.my-projects {
  margin-bottom: 50px;
}

.my-project-list {
  padding-left: 18px;
}

.project-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding-left: 10px;
}

.project-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* Experience items set */

.occupation-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}

.occupation-degree {
  color: #c43182;
}

.work-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 10px 0 0 0;
}
.work-time-slash {
  color: #000000;
}

.occupation-items {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding-left: 18px;
}
.company2 {
  margin: 15px 0 20px 0;
}

/* Education items set */

.education {
  margin: 40px 0 0 0;
}

.my-university {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #c43182;
}

.university-degree {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.sidebar {
  padding-top: 40px;
  width: 370px;
  background-color: #1e2939;
}

.contact-content,
.tech-content,
.soft-content {
  margin: 45px 0px 45px 40px;
}

.sidebar-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 8px;
}

/* contact section */
.contact-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 5px;
}
.contact-section-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8e949c;
}
.skills-marker {
  padding-left: 16px;
}

.skill-item {
  color: #c43182;
}
.item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
